<%- include layouts/header.ejs %>

<div class="container">
	<h1><%- tagline %></h1>

	<form method="POST" action="/store/student">
		
		<div class="form-group">
			<input type="text" name="name" placeholder="Name..." class="form-control">
		</div>

		<div class="form-group">
			<input type="number" name="age" placeholder="Age..." class="form-control">
		</div>

		<div class="form-group">
			<input type="text" name="hobby" placeholder="Hobby..." class="form-control">
		</div>

		<div class="form-group">
			<input type="submit" name="submit" value="Store" class="btn btn-success">
		</div>

	</form>
</div>

<%- include layouts/footer.ejs %>
